openapi: 3.1.0
info:
  title: PINPO - OpenAPI 3.1
  description: Pinpo is an automated lead qualification platform
  contact:
    email: integration@pinpo.fr
  version: 1.0.11
externalDocs:
  description: Find out more about PINPO
  url: https://www.pinpo.com/
servers:
  - url: https://api.pinpo.com/v1
tags:
  - name: lead
    description: Everything about your leads
paths:
  /lead:
    post:
      tags:
        - lead
      summary: Add a new lead to qualify
      description: Add a new lead to qualify
      operationId: importLead
      requestBody:
        description: Import a new lead in PINPO
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lead'
        required: true
      responses:
        '201':
          description: Successful operation
        '422':
          description: Invalid input
webhooks:
    EnrichedLead:
      post:
        x-internal: true
        requestBody:
          description: Information about lead qualification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichedLead'
        responses:
          "200":
            description: Return a 200 status to indicate that the data was received successfully        
components:
  schemas:
    EnrichedLead:
      required:
        - id
        - resume
        - insightPinpo
        - report
      type: object
      properties:
        id:
          type: string
          example: 10oijoijpoj
        externalId:
          type: string 
          example: 'hhhhuj1bh4'
          description: Id in your CRM or SI
        resume:
          type: string 
          description: Pinpo importants informations
          example: '🔥 - Lead Chaud -\n\nDetail Insight Pinpo\nEngagé : Oui\nQualifié : Oui\nTemperature : Chaud 🔥\nConversation terminée : Oui\n\nDonnées collectées:\nLe lead a un projet d achat dans le neuf : Oui\nMise en relation souhaitée avec un conseiller : Oui\nHorizon d achat : 3 mois\n\nConversation :\nPinpo [07/08/2023 12:54]:\nBonjour, je suis Julie, Cheffe de projet chez AAAA. J espère que vous allez bien ! Merci d avoir pris contact avec nous pour ZZZZ. Vous avez donc un projet d achat dans le neuf, c est bien cela ?\nprospet [07/08/2023 14:39]:\nOui...'
        insightPinpo:
          $ref: '#/components/schemas/InsightPinpo'
        report:
          $ref: '#/components/schemas/Report'
        lastActivity:
          type: date-time
          description: last lead activity in Pinpo in date time format
          example: "2023-10-01T08:20:50.52Z"
        trigger:
          description: used only on Webhooks
          $ref: '#/components/schemas/Event'
    InsightPinpo:
      required:
        - insight
        - details
        - display
      type: object
      properties:
        insight:
          $ref: '#/components/schemas/PossiblesInsight'
        details:
          type: array
          items:
            $ref: '#/components/schemas/InsigthItem'
        display:
          type: string
          description: display for pinpo informations
          example: 'Engagé : Oui\nQualifié : Oui\nTemperature : Chaud 🔥\nConversation terminée : Oui\n'
    InsigthItem:
      type: object 
      required:
        - key
        - value
        - display
      properties:
        key:
          type: string
          example: 'Engagé'
        value:
          oneOf:
            - boolean:
              type: boolean
              example: true
            - text:
              type: string
              example: Textual response
            - $ref: '#/components/schemas/Temperatures'
            - $ref: '#/components/schemas/NonEngagementReason'
            - $ref: '#/components/schemas/NonQualificationReason'
        display:
          type: string 
          example: 'Engagé: Oui'
    PossiblesInsight:
      description: Possibles PINPOs Insight
      allOf:
        - $ref: '#/components/schemas/Temperatures'
        - $ref: '#/components/schemas/NonEngagementReason'
        - $ref: '#/components/schemas/NonQualificationReason'
        - $ref: '#/components/schemas/TechnicalError'
    Lead:
      required:
        - contact
        - providerName
        - product
      type: object
      properties:
        contact:
          $ref: '#/components/schemas/Contact'
        externalId:
          type: string
          example: jjhhuGT
          description: Id in your CRM or SI
        providerName:
          type: string
          example: Facebook leads
          decription: source of your leads
        scenarioSelection:
          type: string
          example: kopij876f
          decription: technical Id of your Pinpo scenario, see with your CX
        product:
          $ref: '#/components/schemas/Product'
        salesPerson:
          $ref: '#/components/schemas/SalesPerson'
        scriptData:
          type: array
          description: check with your CX for mandatory scripts data
          items:
            $ref: '#/components/schemas/CustomData'
        statsData:
          type: array
          items:
            $ref: '#/components/schemas/CustomData'
    Contact:
      type: object
      required:
        - phone
      properties:
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        phone:
          type: string
          example: 33606060606
        mail:
          type: string
          example: john.doe@pinpo.fr
        externalId:
          type: string
          example: jiu7897987GUYGhh
          description: Id of contact in you CRM if its not the lead id
    SalesPerson:
      type: object
      properties:
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        phone:
          type: string
          example: 33606060606
        mail:
          type: string
          example: john.doe@pinpo.fr
        externalId:
          type: string
          example: jiu7897987GUYGhh
          description: Id of saleperson in you CRM
        iCalUrl:
           type: string
           example: https://joiuezhfiuhIcal.fr
    Product:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          example: Programme des oliviers
        category:
          type: string
          example: new
        externalId:
          type: string
          example: huih89hhgh
    CustomData:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          example: departement
          description: name of the name. '.' is fordidden in name
        value:
          type: string
          example: Ardèche
    Report:
      type: object
      properties: 
          qualificationForm:
            type: array
            items:
              $ref: '#/components/schemas/QualificationItem'
          qualificationFormDisplay:
            type: string
            example: "Interest in a lead engagement and qualification solution : Oui (Note pour la question: Interest in a lead engagement and qualification solution)\nInterest for a meeting : Oui (Note pour la question: Interest for a meeting)\nMeeting Typology : Phone (Note pour la question: Meeting Typology)\nProject Timeline : Short-term project (Note pour la question: Project Timeline)\nMore details about leads project : Réponse à la question: More details about leads project (Note pour la question: More details about leads project)\n\nNotes générales : Notes générales"
          notes:
            type: string
            example: General notes
          conversationDisplay:
            type: string
            example: "- [Assistant 22/03 15:22] Message d'engagement\n- [Prospect 22/03 15:34] Réponse du lead\n- [Assistant 22/03 15:39] Message de cloture"
          conversationUrl:
            type: string
            example: 'https://pinpo.app.link/dlkihouhiguyvg'
    QualificationItem:
      type: object 
      required:
        - id
        - formQuestion
        - formResponse
      properties:
        id:
          type: string
          example: ugoiy76765443Fjhg
        formQuestion:
          $ref: '#/components/schemas/FormQuestion'
        formResponse:
          $ref: '#/components/schemas/FormResponse'
        display:
          type: string
          example: 'Interest in a lead engagement and qualification solution : Oui'
        state:
          type: string
          enum:
            - add
            - replace
            - noChange
    FormQuestion:
      type: object
      required:
        - id
        - question
        - type
      properties:
        id:
          type: string
          example: product_interest
        question:
          type: string
          example: Interest in a lead engagement and qualification solution
        type:
          type: string
          enum:
            - boolean
            - text
            - number
            - choice
            - date-time
            - multiChoice
    FormResponse:
      type: object
      required:
        - id
        - type
      properties:
        id:
          type: string
          example: oiubiyf7897fhgjddas545
        value:
          oneOf:
            - boolean:
              type: boolean
              example: true
            - textOrChoice:
              type: string
              example: Textual response
            - number:
              type: number
              example: 3
            - date:
              type: date-time
              example: "2023-10-01T10:00:00.52Z"
            - multiChoice:
              type: array
              items:
                type: string
          discriminator:
            propertyName: type
    Event:
      type: string
      enum:
        - lead:change
    Insight:
      type: object
      required:
        - key 
        - display
      description: Insight definition
      properties:
        key:
          type: string
          example: 'hot'
        display:
          type: string
          example: 'Lead chaud'
        emoji:
          $ref: '#/components/schemas/PossiblesEmoji'
    Emoji:
      type: object 
      required:
        - name
        - emojiText
        - emojiHtml
      description: emoji to linked to Insight Pinpo
      properties:
        name:
          type: string 
          example: 'feu'
        emojiText:
          type: string
          example: ':fire:'
        emojiHtml:
          type: string
          example: '&#128293;'
    PossiblesEmoji:
      description: Possible emoji
      allOf:
        - $ref: '#/components/schemas/Emoji'
        - enum:
          - name: 'fire'
            emojiText: ':fire:'
            emojiHtml: '&#128293;'
          - name: 'sun'
            emojiText: ':white_sun_small_cloud:'
            emojiHtml: '&#127780;&#65039;'
          - name: 'snowflake'
            emojiText: ':snowflake:'
            emojiHtml: '&#10052;&#65039;'
          - name: 'redcross'
            emojiText: ':x:'
            emojiHtml: '&#10060;'
          - name: 'question'
            emojiText: ':question:'
            emojiHtml: '&#10067;'
          - name: 'warning'
            emojiText: ':warning:'
            emojiHtml: '&#9888;&#65039;'
    Temperatures:
      description: Possible temperatures
      allOf:
        - $ref: '#/components/schemas/Insight'
        - enum:
            - key: 'hot'
              display: 'Lead Chaud'
            - key: 'warm'
              display: 'Lead Tiède'
            - key: 'cold'
              display: 'Lead Froid'
    NonEngagementReason:
      description: Possibles non enagement reason
      allOf:
        - $ref: '#/components/schemas/Insight'
        - enum:
            - key: 'landline-phone'
              display: 'Numéro fixe'
            - key: 'foreign-phone'
              display: 'Numéro étranger'
            - key: 'invalid-phone'
              display: 'Numéro invalide'
            - key: 'already-engaged'
              display: 'Déjà engagé sur ce scénario'
            - key: 'not-pinpo-targeting'
              display: 'Hors ciblage PINPO'
            - key: 'reach-limit'
              display: 'Plafond atteint'
            - key: 'duplicate'
              display: 'Doublon'
            - key: 'inconsistent-data'
              display: 'Données inconsistentes'
    NonQualificationReason:
      description: Possibles reason lead is not  qualified
      allOf:
        - $ref: '#/components/schemas/Insight'
        - enum:
            - key: 'not-responding'
              display: 'Injoignable'
            - key: 'wrong-phone'
              display: 'Faux destinataire'
            - key: 'opt-out-sms'
              display: 'STOP - Optout'
            - key: 'rgpd'
              display: 'STOP - Demande RGPD'
            - key: 'not-interested'
              display: 'Pas interessé'
    TechnicalError:
      description: Possibles technical error during the process
      allOf:
        - $ref: '#/components/schemas/Insight'
        - enum:
            - key: 'technical-error'
              display: 'Technical Error'
            - key: 'internal-error-import'
              display: 'Erreur Import'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: api-key
      in: header
security:
  - ApiKeyAuth: []
