openapi: 3.1.0
info:
  title: PINPO - OpenAPI 3.1
  description: Pinpo is an automated lead qualification platform
  contact:
    email: integration@pinpo.fr
  version: 1.0.11
externalDocs:
  description: Find out more about PINPO
  url: https://www.pinpo.com/
servers:
  - url: https://api.pinpo.com/v1
tags:
  - name: lead
    description: Everything about your leads
  - name: mock
    description: Tools to mock webhook trigger
paths:
  /lead:
    post:
      tags:
        - lead
      summary: Add a new lead to qualify
      description: Add a new lead to qualify
      operationId: importLead
      requestBody:
        description: Import a new lead in PINPO
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lead'
            examples:
              Usual example:
                $ref: '#/components/examplesImport/usualImportLead'
              Only Mandatory:
                $ref: '#/components/examplesImport/simpleOnlyMandatoryImportLead'
              Complete:
                $ref: '#/components/examplesImport/complexeImportLead'
        required: true
      responses:
        '201':
          description: Successful operation
        '422':
          description: Invalid input
        '409':
          description: Duplicate value
  /mock:
    post:
      tags:
        - mock
      summary: trigger webhook enriched lead to specific endpoint to help you integrate Pinpo
      description: trigger webhook enriched lead to specific endpoint to help you integrate Pinpo
      operationId: mockTriggerWebhook
      requestBody:
        description: Mock Webhook trigger depends on Pinpo Insight
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MockWebhook'
            examples:
              Hot lead with meeting in html:
                $ref: '#/components/examplesMock/hotWithMeetingHtml'
              Hot lead asking immediate contact in text:
                $ref: '#/components/examplesMock/hotImmediateContactText'
              RGPD lead in html:
                $ref: '#/components/examplesMock/rgpdHtml'
        required: true
      responses:
        '200':
          description: Successful trigger webhook on specified url
        '422':
          description: Unprocessable Entity
webhooks:
    EnrichedLead:
      post:
        x-internal: true
        requestBody:
          description: Information about lead qualification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichedLead'
              examples:
                Hot lead with meeting in html:
                  $ref: '#/components/examplesEnrichedLead/hotWithMeetingHtml'
                Hot lead asking immediate contact in text:
                  $ref: '#/components/examplesEnrichedLead/hotImmediateContactText'
                Warm lead in text:
                  $ref: '#/components/examplesEnrichedLead/warm'
                RGPD lead in text:
                  $ref: '#/components/examplesEnrichedLead/rgpd'
                LandlinePhone text:
                  $ref: '#/components/examplesEnrichedLead/landlinePhone'
        responses:
          "200":
            description: Return a 200 status to indicate that the data was received successfully 
      put:
        x-internal: true
        parameters:
        - in: path
          name: externalId
          schema:
            type: string
          required: true
          description: ID of the lead or contact if lead id doesn't exist
        requestBody:
          description: Information about lead qualification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichedLead'
              examples:
                Hot lead with meeting in html:
                  $ref: '#/components/examplesEnrichedLead/hotWithMeetingHtml'
                Hot lead asking immediate contact in text:
                  $ref: '#/components/examplesEnrichedLead/hotImmediateContactText'
                warm lead in text:
                  $ref: '#/components/examplesEnrichedLead/warm'
                RGPD lead in text:
                  $ref: '#/components/examplesEnrichedLead/rgpd'
                LandlinePhone text:
                  $ref: '#/components/examplesEnrichedLead/landlinePhone'
        responses:
          "200":
            description: Return a 200 status to indicate that the data was received successfully        
components:
  schemas:
    EnrichedLead:
      required:
        - id
        - resume
        - insightPinpo
        - report
      type: object
      properties:
        id:
          type: string
          example: 10oijoijpoj
          description: Pinpo lead id
        externalId:
          type: string 
          example: 'jjhhuGT'
          description: Id in your CRM or SI of the request of the lead
        leadTypology:
          description: Main lead Information from Pinpo
          $ref: '#/components/schemas/LeadTypologyPinpo'
        resume:
          type: string 
          description: |
           Pinpo relevant informations <br/>
           <img src="dist/resume.png" alt="Image rendu resume" width="50%" height="50%">
          example: '🔥 - Lead Chaud -\n\nDetail Insight Pinpo\nEngagé : Oui\nOpportunité : Oui\nTemperature : Chaud 🔥\nConversation terminée : Oui\n\nDonnées collectées:\nLe lead a un projet d achat dans le neuf : Oui\nMise en relation souhaitée avec un conseiller : Oui\nHorizon d achat : 3 mois\n\nConversation :\nPinpo [07/08/2023 12:54]:\nBonjour, je suis Julie, Cheffe de projet chez AAAA. J espère que vous allez bien ! Merci d avoir pris contact avec nous pour ZZZZ. Vous avez donc un projet d achat dans le neuf, c est bien cela ?\nprospet [07/08/2023 14:39]:\nOui...'
        insightPinpo:
          description: Insights from Pinpo
          $ref: '#/components/schemas/InsightPinpo'
        report:
          description: Report informations
          $ref: '#/components/schemas/Report'
        lastActivity:
          type: date-time
          description: last lead activity in Pinpo in date time format
          example: "2023-10-01T08:20:50.52Z"
        requestDate:
          type: date-time
          description: date when the lead enters in Pinpo in date time format
          example: "2023-10-01T08:20:50.52Z"
        trigger:
          description: used only on Webhooks
          $ref: '#/components/schemas/Event'
    LeadTypologyPinpo:
      required:
        - key
        - value
      type: object
      properties:
        key:
          $ref: '#/components/schemas/LeadTypology'            
        value:
          type: string
          description:  Main lead Information display
          enum: 
            - Chaud avec RDV
            - Chaud sans RDV
            - Chaud non recontacté par l'entreprise
            - Chaud demande de contact immédiat
            - Lead tiède
            - Lead froid
            - Numéro fixe
            - Numéro étranger
            - ...
    InsightPinpo:
      required:
        - insights
        - details
        - display
      type: object
      properties:
        insights:
          type: array
          items:
            $ref: '#/components/schemas/PossiblesInsight'
          description: list of insights from Pinpo
        details:
          type: array
          items:
            $ref: '#/components/schemas/InsigthItem'
          description: details of insights from Pinpo
        display:
          type: string
          description: display for pinpo informations
          example: 'Engagé : Oui\nOpportunité : Oui\nTemperature : Chaud 🔥\nConversation terminée : Oui\n'
    InsigthItem:
      type: object 
      required:
        - key
        - value
        - display
      properties:
        key:
          type: string
          example: 'engaged'
        value:
          oneOf:
            - boolean:
              type: boolean
              example: true
            - text:
              type: string
              example: Textual response
            - $ref: '#/components/schemas/Temperatures'
            - $ref: '#/components/schemas/NonEngagementReason'
            - $ref: '#/components/schemas/DelayReason'
            - array:
              items:
                $ref: '#/components/schemas/DelayReason'
        display:
          type: string 
          example: 'Engagé: Oui'
    PossiblesInsight:
      description: Possibles PINPOs Insight
      allOf:
        - $ref: '#/components/schemas/Temperatures'
        - $ref: '#/components/schemas/NonEngagementReason'
        - $ref: '#/components/schemas/DelayReason'
        - $ref: '#/components/schemas/TechnicalError'
    Lead:
      required:
        - contact
        - providerName
        - product
      type: object
      properties:
        contact:
          description: lead contact informations
          $ref: '#/components/schemas/Contact'
        externalId:
          type: string
          example: jjhhuGT
          description: Id in your CRM or SI of the request of the lead (This will be the external ID that will receive when the lead exit PINPO)
        providerName:
          type: string
          example: "'Facebook leads' ou 'Réseaux sociaux' ou 'Google Ads' ou 'Site internet' ou 'Portails/Comparateurs' ..."
          decription: source of your leads
        scenarioSelection:
          type: string
          example: kopij876f
          decription: technical Id of your Pinpo scenario, see with your CX
        product:
          description: product informations
          $ref: '#/components/schemas/Product'
        salesPerson:
          description: salesperson informations
          $ref: '#/components/schemas/SalesPerson'
        company:
          description: for B2B client, add company information
          $ref: '#/components/schemas/Company'
        scriptData:
          type: array
          description: data used in SMS conversation to add some context to the lead, check with your CX for mandatory scripts data
          items:
            $ref: '#/components/schemas/CustomData'
        statsData:
          type: array
          description: can be used for statistical purpose, check with your CX for interested stats data
          items:
            $ref: '#/components/schemas/CustomData'
        outputData:
          type: array
          description: data used in output integration, check with your CX for mandatory data
          items:
            $ref: '#/components/schemas/CustomData'
    Contact:
      type: object
      required:
        - phone
      properties:
        firstName:
          type: string
          example: John
          description: first name of contact
        lastName:
          type: string
          example: Doe
          description: last name of contact
        phone:
          type: string
          example: 33606060606
          description: phone number of contact used to talk
        mail:
          type: string
          example: john.doe@pinpo.fr
          description: email of contact
        externalId:
          type: string
          example: jiu7897987GUYGhh
          description: Id of contact in you CRM if its not the lead id
    SalesPerson:
      type: object
      properties:
        firstName:
          type: string
          example: John
          description: first name of salesperson assigned to lead
        lastName:
          type: string
          example: Doe
          description: last name of salesperson assigned to lead
        phone:
          type: string
          example: 33606060606
          description: phone of salesperson assigned to lead
        mail:
          type: string
          example: john.doe@pinpo.fr
          description: mail of salesperson assigned to lead
        externalId:
          type: string
          example: jiu7897987GUYGhh
          description: Id of saleperson in you CRM
        iCalUrl:
          type: string
          example: https://joiuezhfiuhIcal.fr
          description: iCalUrl of salesperson assigned to lead can be used to check saleperson availabilities
    Product:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          example: "'Programme des oliviers' ou 'Pompe à chaleur' ou 'Assurance vie' ou 'Logiciel de comptabilité' ou 'Voiture 1234' ou 'Contrat Mobile/fibre' ou 'Formation Audio Visuel' ou 'Crédit Immobilier' ..."
        category:
          type: string
          example: new
          description: product category
        externalId:
          type: string
          example: huih89hhgh
          description: Id of product in you CRM
    Company:
      type: object
      properties:
        name:
          type: string
          example: Pinpo
        externalId:
          type: string
          example: huih89hhgh
          description: Id of company in you CRM
    CustomData:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          example: departement
          description: name of the name. '.' is fordidden in name
        value:
          type: string
          example: Ardèche
    Report:
      type: object
      properties: 
          qualificationForm:
            type: array
            items:
              $ref: '#/components/schemas/QualificationItem'
          qualificationFormDisplay:
            type: string
            example: "Interest in a lead engagement and qualification solution : Oui (Note pour la question: Interest in a lead engagement and qualification solution)\nInterest for a meeting : Oui (Note pour la question: Interest for a meeting)\nMeeting Typology : Phone (Note pour la question: Meeting Typology)\nProject Timeline : Short-term project (Note pour la question: Project Timeline)\nMore details about leads project : Réponse à la question: More details about leads project (Note pour la question: More details about leads project)\n\nNotes générales : Notes générales"
          notes:
            type: string
            example: General notes
          conversationDisplay:
            type: string
            example: "- [Assistant 22/03 15:22] Message d'engagement\n- [Prospect 22/03 15:34] Réponse du lead\n- [Assistant 22/03 15:39] Message de cloture"
          conversationUrl:
            type: string
            example: 'https://pinpo.app.link/dlkihouhiguyvg'
    QualificationItem:
      type: object 
      required:
        - formQuestion
        - formResponse
      properties:
        formQuestion:
          $ref: '#/components/schemas/FormQuestion'
        formResponse:
          $ref: '#/components/schemas/FormResponse'
        state:
          type: string
          enum:
            - add
            - replace
            - noChange
    FormQuestion:
      type: object
      required:
        - id
        - question
        - type
      properties:
        id:
          type: string
          example: product_interest
        question:
          type: string
          example: Interest in a lead engagement and qualification solution
        type:
          type: string
          enum:
            - boolean
            - text
            - number
            - choice
            - date-time
            - multiChoice
    FormResponse:
      type: object
      required:
        - type
      properties:
        value:
          oneOf:
            - boolean:
              type: boolean
              example: true
            - textOrChoice:
              type: string
              example: Textual response
            - number:
              type: number
              example: 3
            - date:
              type: date-time
              example: "2023-10-01T10:00:00.52Z"
            - multiChoice:
              type: array
              items:
                type: string
          discriminator:
            propertyName: type
    Event:
      type: string
      enum:
        - lead:change
    Insight:
      type: object
      required:
        - key 
        - display
      description: Insight definition
      properties:
        key:
          type: string
          example: 'hot'
        display:
          type: string
          example: 'Lead chaud'
        emoji:
          $ref: '#/components/schemas/PossiblesEmoji'
    Emoji:
      type: object 
      required:
        - name
        - emojiText
        - emojiHtml
      description: emoji to linked to Insight Pinpo
      properties:
        name:
          type: string 
          example: 'feu'
        emojiText:
          type: string
          example: ':fire:'
        emojiHtml:
          type: string
          example: '&#128293;'
    PossiblesEmoji:
      description: Possible emoji
      allOf:
        - $ref: '#/components/schemas/Emoji'
        - enum:
          - name: 'fire'
            emojiText: ':fire:'
            emojiHtml: '&#128293;'
          - name: 'sun'
            emojiText: ':white_sun_small_cloud:'
            emojiHtml: '&#127780;&#65039;'
          - name: 'snowflake'
            emojiText: ':snowflake:'
            emojiHtml: '&#10052;&#65039;'
          - name: 'redcross'
            emojiText: ':x:'
            emojiHtml: '&#10060;'
          - name: 'question'
            emojiText: ':question:'
            emojiHtml: '&#10067;'
          - name: 'warning'
            emojiText: ':warning:'
            emojiHtml: '&#9888;&#65039;'
    LeadTypology:
      type: string
      description: Main lead Information Key
      enum: 
        - hot-with-meeting
        - hot-without-meeting
        - hot-not-contacted
        - hot-immediate-contact
        - warm
        - cold
        - landline-phone
        - foreign-phone
        - invalid-phone
        - already-engaged
        - not-pinpo-targeting
        - reach-limit
        - duplicate
        - inconsistent-data
        - not-responding
        - wrong-phone
        - opt-out-sms
        - rgpd
    Temperatures:
      description: Possible temperatures
      allOf:
        - $ref: '#/components/schemas/Insight'
        - enum:
            - key: 'hot'
              display: 'Lead Chaud'
            - key: 'warm'
              display: 'Lead Tiède'
            - key: 'cold'
              display: 'Lead Froid'
    NonEngagementReason:
      description: Possibles non engagement reason
      allOf:
        - $ref: '#/components/schemas/Insight'
        - enum:
            - key: 'landline-phone'
              display: 'Numéro fixe'
            - key: 'foreign-phone'
              display: 'Numéro étranger'
            - key: 'invalid-phone'
              display: 'Numéro invalide'
            - key: 'already-engaged'
              display: 'Déjà engagé sur ce scénario'
            - key: 'not-pinpo-targeting'
              display: 'Hors ciblage PINPO'
            - key: 'reach-limit'
              display: 'Plafond atteint'
            - key: 'duplicate'
              display: 'Doublon'
            - key: 'inconsistent-data'
              display: 'Données inconsistantes'
            - key: 'technical-error'
              display: "Erreur Technique lors de l'engagement"
    DelayReason:
      description: Possibles reason lead is not fully processed
      allOf:
        - $ref: '#/components/schemas/Insight'
        - enum:
            - key: 'not-responding'
              display: 'Injoignable'
            - key: 'wrong-phone'
              display: 'Faux destinataire'
            - key: 'opt-out-sms'
              display: 'STOP - Optout'
            - key: 'rgpd'
              display: 'STOP - Demande RGPD'
    TechnicalError:
      description: Possibles technical error during the process
      allOf:
        - $ref: '#/components/schemas/Insight'
        - enum:
            - key: 'internal-technical-error'
              display: 'Technical Error'
            - key: 'internal-error-import'
              display: 'Erreur Import'
    MockWebhook:
      description: Data for trigger specific enriched lead
      type: object
      required:
        - typeLead
        - url
        - hasEmoji
        - typeDisplay
      properties:
        typeLead:
          $ref: '#/components/schemas/LeadTypology'  
        url:
          type:  string
          example: http://urlToTrigger.fr/hook
        hasEmoji:
          type: boolean
          example: true
        typeDisplay:
          type:  string
          example: html
          enum:
            - html
            - text

  examplesImport:
    simpleOnlyMandatoryImportLead:
      value: 
        contact:
          phone: '0606060606'
        providerName: "Réseaux sociaux"
        product:
          name: "Pompe à chaleur"
    usualImportLead:
      value:
        contact:
          firstName: "John"
          lastName: "Doe"
          phone: "33606060606"
          mail: "john.doe@pinpo.fr"
          externalId: "jiu7897987GUYGhh"
        externalId: "jjhhuGT"
        providerName: "Facebook leads"
        scenarioSelection: "kopij876f"
        product:
          name: "Programme des oliviers"
        salesPerson: 
          firstName: "Jane"
          lastName: "Doe"
          phone: "33606060606"
          mail: "john.doe@pinpo.fr"
        scriptData:
          - name: "departement"
            value: "Ardèche"
    complexeImportLead:
      value:
        contact:
          firstName: "John"
          lastName: "Doe"
          phone: "33606060606"
          mail: "john.doe@pinpo.fr"
          externalId: "jiu7897987GUYGhh"
        externalId: "jjhhuGT"
        providerName: "Facebook leads"
        scenarioSelection: "kopij876f"
        product:
          name: "Programme des oliviers"
          category: "new"
          externalId: "huih89hhgh"
        salesPerson: 
          firstName: "Jane"
          lastName: "Doe"
          phone: "33606060606"
          mail: "john.doe@pinpo.fr"
          externalId: "jiu7897987GUYGhh"
          iCalUrl: "https://joiuezhfiuhIcal.fr"
        company:
          name: Pinpo
          externalId: huih89hhgh
        scriptData:
          - name: "departement"
            value: "Ardèche"
          - name: "postalCode"
            value: "07000"
        statsData:
          - name: "day"
            value: Monday
        outputData:
          - name: "civility"
            value: Mrs
  examplesMock:
    hotWithMeetingHtml:
      value:
        typeLead: hot-with-meeting 
        url: https://test.fr
        hasEmoji: true
        typeDisplay: html
    hotImmediateContactText:
      value:
        typeLead: hot-immediate-contact
        url: https://test.fr
        hasEmoji: false
        typeDisplay: test
    rgpdHtml:
      value:
        typeLead: rgpd
        url: https://test.fr
        hasEmoji: false
        typeDisplay: html
  examplesEnrichedLead:
    hotWithMeetingHtml:
      value:
        id: SNkSwfNMIV
        externalId: externalIdLead
        leadTypology:
          key: hot-with-meeting
          value: Chaud avec RDV
        resume: "Lead chaud<br/><br/><b><u>Détail Insight PINPO</u></b> :<ul><li>Engagé : <b>Oui</b></li><li>Opportunité : <b>Oui</b></li><li>Température : <b>chaud</b></li><li>Conversation terminée : <b>Oui</b></li><li>Statut de la qualification : <b>Clôturée</b></li></ul><br/><b><u>Données collectées</u></b> :<ul><li>Le lead a un projet d'achat dans le neuf : <b>Oui</b></li><li>Mise en relation souhaitée avec un conseiller : <b>Oui</b></li><li>Horizon d'achat : <b>3 mois</b></li><li>Date et heure du RDV : <b>mardi 05 mars 2024 11:00</b></li></ul><br/><b><u>Conversation</u></b> :<ul><li><b>Pinpo</b> [07/08/2023 14:54]: <br>Bonjour, je suis Marion, Cheffe de projet chez ... J'espère que vous allez bien ! Merci d'avoir pris contact avec nous pour la résidence LES PALMIERS. Vous avez donc un projet d'achat dans le neuf, c'est bien cela ?</li><li><b>TEST test</b> [07/08/2023 16:39]: <br>Oui</li><li><b>Pinpo</b> [07/08/2023 16:40]: <br>Notre responsable de projet serait ravi de vous accompagner dans votre projet. Je vous propose un rapide échange téléphonique avec lui pour vous renseigner.  Seriez-vous disponible le 5 mars à 11:00, ou sur un autre créneau svp :) ?</li><li><b>TEST test</b> [07/08/2023 16:43]: <br>Oui</li><li><b>Pinpo</b> [07/08/2023 16:43]: <br>Je confirme votre RDV du mardi 5 mars 2024 11:00 avec Sam (ses coordonnées : 0606060606, test@pinpo.fr)! Afin de le renseigner en amont de votre échange, souhaitez-vous acheter pour habiter ou investir ? Et quand souhaiteriez-vous concrétiser votre projet (3 mois, 6 mois ou plus) ?</li><li><b>TEST test</b> [07/08/2023 16:44]: <br>J'aimerais investir dans les 4prochains mois ! Merci</li><li><b>Pinpo</b> [07/08/2023 16:45]: <br>Parfait, bien noté ! Je transmets ces informations au responsable de projet. Merci pour votre accueil. Excellente journée ! Marion</li></ul>,"
        insightPinpo: 
          details:
            - key: engaged
              title: Engagé
              value: true
            - key: opportunity
              title: Opportunité
              value: true
            - key: temperature
              title: Température
              value:
                key: hot
                display: Lead chaud
                emoji: 
                  props: 
                    name: fire
                    emojiText: ":fire:"
                    emojiHtml: &#128293;
            - key: endedConversation
              title: Conversation terminée
              value: true
            - key: qualificationStatus
              title: Statut de la qualification
              value: Clôturée
          display: "<ul><li>Engagé : <b>Oui</b></li><li>Opportunité : <b>Oui</b></li><li>Température : <b>chaud</b></li><li>Conversation terminée : <b>Oui</b></li><li>Statut de la qualification : <b>Clôturée</b></li></ul>,"
          insights: 
            - key: hot
              display: Lead chaud
              emoji: 
                props: 
                  name: fire
                  emojiText: ":fire:"
                  emojiHtml: &#128293;
          report: 
            qualificationForm:
              - formQuestion: 
                  id: project,
                  question: Le lead a un projet d'achat dans le neuf
                  type: boolean
                formResponse: 
                  value: true
                note:
                state: add
              - formQuestion:
                  id: optinContact,
                  question: Mise en relation souhaitée avec un conseiller
                  type: boolean
                formResponse:
                  value: true
                note:
                state: add
              - formQuestion: 
                  id: buyHorizon,
                  question: Horizon d'achat
                  type: choice
                formResponse:
                  value: 3 mois
                note:
                state: noChange
              - formQuestion:
                  id: meetingTime,
                  question: Date et heure du RDV
                  type: date
                formResponse:
                  value: 2024-03-05T10:00:00.000Z
                note: 
                state: add
            qualificationFormDisplay: "<ul><li>Le lead a un projet d'achat dans le neuf : <b>Oui</b></li><li>Mise en relation souhaitée avec un conseiller : <b>Oui</b></li><li>Horizon d'achat : <b>3 mois</b></li><li>Date et heure du RDV : <b>mardi 05 mars 2024 11:00</b></li></ul>,"
            notes: 
            conversationDisplay: "<ul><li><b>Pinpo</b> [07/08/2023 14:54]: <br>Bonjour, je suis Marion, Cheffe de projet chez ... J'espère que vous allez bien ! Merci d'avoir pris contact avec nous pour la résidence LES PALMIERS. Vous avez donc un projet d'achat dans le neuf, c'est bien cela ?</li><li><b>TEST test</b> [07/08/2023 16:39]: <br>Oui</li><li><b>Pinpo</b> [07/08/2023 16:40]: <br>Notre responsable de projet serait ravi de vous accompagner dans votre projet. Je vous propose un rapide échange téléphonique avec lui pour vous renseigner.  Seriez-vous disponible le 5 mars à 11:00, ou sur un autre créneau svp :) ?</li><li><b>TEST test</b> [07/08/2023 16:43]: <br>Oui</li><li><b>Pinpo</b> [07/08/2023 16:43]: <br>Je confirme votre RDV du mardi 5 mars 2024 11:00 avec Sam (ses coordonnées : 0606060606, test@pinpo.fr)! Afin de le renseigner en amont de votre échange, souhaitez-vous acheter pour habiter ou investir ? Et quand souhaiteriez-vous concrétiser votre projet (3 mois, 6 mois ou plus) ?</li><li><b>TEST test</b> [07/08/2023 16:44]: <br>J'aimerais investir dans les 4prochains mois ! Merci</li><li><b>Pinpo</b> [07/08/2023 16:45]: <br>Parfait, bien noté ! Je transmets ces informations au responsable de projet. Merci pour votre accueil. Excellente journée ! Marion</li></ul>,"
            conversationUrl: https://pinpo.app.link/e/ezSMLbOx4Bb
          lastActivity: 2023-08-07T14:55:05.195Z
          requestDate: 2023-08-07T12:54:12.425Z
          trigger: lead:change
          idScenario: idAssistant
    hotImmediateContactText:
      value:
        id: SNkSwfNMIV
        externalId: externalIdLead
        leadTypology:
          key: hot-without-meeting
          value: Chaud sans RDV
        resume: "Lead chaud<br/><br/><b><u>Détail Insight PINPO</u></b> :<ul><li>Engagé : <b>Oui</b></li><li>Opportunité : <b>Oui</b></li><li>Température : <b>chaud</b></li><li>Conversation terminée : <b>Oui</b></li><li>Statut de la qualification : <b>Clôturée</b></li></ul><br/><b><u>Données collectées</u></b> :<ul><li>Le lead a un projet d'achat dans le neuf : <b>Oui</b></li><li>Mise en relation souhaitée avec un conseiller : <b>Oui</b></li><li>Le lead souhaite être contacté immédiatement : <b>Oui</b></li><li>Horizon d'achat : <b>3 mois</b></li></ul><br/><b><u>Conversation</u></b> :<ul><li><b>Pinpo</b> [07/08/2023 14:54]: <br>Bonjour, je suis Marion, Cheffe de projet chez ... J'espère que vous allez bien ! Merci d'avoir pris contact avec nous pour la résidence LES PALMIERS. Vous avez donc un projet d'achat dans le neuf, c'est bien cela ?</li><li><b>TEST test</b> [07/08/2023 16:39]: <br>Oui, serait il possible de ma rappeler tout de suite ?</li><li><b>Pinpo</b> [07/08/2023 16:40]: <br>Notre responsable de projet serait ravi de vous accompagner dans votre projet. Je lui remonte l'information, il vous rappelera au plus vite ?</li><li><b>Pinpo</b> [07/08/2023 16:43]: <br>Afin de le renseigner en amont de votre échange, souhaitez-vous acheter pour habiter ou investir ? Et quand souhaiteriez-vous concrétiser votre projet (3 mois, 6 mois ou plus) ?</li><li><b>TEST test</b> [07/08/2023 16:44]: <br>J'aimerais investir dans les 4prochains mois ! Merci</li><li><b>Pinpo</b> [07/08/2023 16:45]: <br>Parfait, bien noté ! Je transmets ces informations au responsable de projet. Merci pour votre accueil. Excellente journée ! Marion</li></ul>,"
        insightPinpo:
          details:
            - key: engaged
              title: Engagé
              value: true
            - key: opportunity
              title: Opportunité
              value: true
            - key: temperature
              title: Température
              value:
                key: hot
                display: Lead chaud
                emoji:
                  props:
                    name: fire
                    emojiText: ":fire:"
                    emojiHtml: &#128293;
            - key: endedConversation
              title: Conversation terminée
              value: true
            - key: qualificationStatus
              title: Statut de la qualification
              value: Clôturée
          display: "<ul><li>Engagé : <b>Oui</b></li><li>Opportunité : <b>Oui</b></li><li>Température : <b>chaud</b></li><li>Conversation terminée : <b>Oui</b></li><li>Statut de la qualification : <b>Clôturée</b></li></ul>"
          insights:
            - key: hot
              display: Lead chaud
              emoji:
                props:
                  name: fire
                  emojiText: ":fire:"
                  emojiHtml: &#128293;
        report:
          qualificationForm:
            - formQuestion:
                id: project
                question: Le lead a un projet d'achat dans le neuf
                type: boolean
              formResponse:
                value: true
              note: 
              state: add
            - formQuestion:
                id: optinContact
                question: Mise en relation souhaitée avec un conseiller
                type: boolean
              formResponse:
                value: true
              note: 
              state: add
            - formQuestion:
                id: immediateContact
                question: Le lead souhaite être contacté immédiatement
                type: boolean
              formResponse: 
                value: true
              note: 
              state: add
            - formQuestion:
                id: buyHorizon,
                question: Horizon d'achat,
                type: choice
              formResponse:
                value: 3 mois
              note: 
              state: noChange
          qualificationFormDisplay: "<ul><li>Le lead a un projet d'achat dans le neuf : <b>Oui</b></li><li>Mise en relation souhaitée avec un conseiller : <b>Oui</b></li><li>Le lead souhaite être contacté immédiatement : <b>Oui</b></li><li>Horizon d'achat : <b>3 mois</b></li></ul>"
          notes: 
          conversationDisplay: "<ul><li><b>Pinpo</b> [07/08/2023 14:54]: <br>Bonjour, je suis Marion, Cheffe de projet chez ... J'espère que vous allez bien ! Merci d'avoir pris contact avec nous pour la résidence LES PALMIERS. Vous avez donc un projet d'achat dans le neuf, c'est bien cela ?</li><li><b>TEST test</b> [07/08/2023 16:39]: <br>Oui, serait il possible de ma rappeler tout de suite ?</li><li><b>Pinpo</b> [07/08/2023 16:40]: <br>Notre responsable de projet serait ravi de vous accompagner dans votre projet. Je lui remonte l'information, il vous rappelera au plus vite ?</li><li><b>Pinpo</b> [07/08/2023 16:43]: <br>Afin de le renseigner en amont de votre échange, souhaitez-vous acheter pour habiter ou investir ? Et quand souhaiteriez-vous concrétiser votre projet (3 mois, 6 mois ou plus) ?</li><li><b>TEST test</b> [07/08/2023 16:44]: <br>J'aimerais investir dans les 4prochains mois ! Merci</li><li><b>Pinpo</b> [07/08/2023 16:45]: <br>Parfait, bien noté ! Je transmets ces informations au responsable de projet. Merci pour votre accueil. Excellente journée ! Marion</li></ul>"
          conversationUrl: https://pinpo.app.link/e/ezSMLbOx4Bb
        lastActivity: 2023-08-07T14:55:05.195Z
        requestDate: 2023-08-07T12:54:12.425Z
        trigger: lead:change
        idScenario: idAssistant
    warm:
      value:
        id: Rb0UTBIBp2
        externalId: externalIdLead
        leadTypology:
          key: warm
          value: Lead tiède
        resume: "Lead tiède<br/><br/><b><u>Détail Insight PINPO</u></b> :<ul><li>Engagé : <b>Oui</b></li><li>Opportunité : <b>Oui</b></li><li>Température : <b>tiède</b></li><li>Conversation terminée : <b>Oui</b></li><li>Statut de la qualification : <b>Clôturée</b></li></ul><br/><b><u>Données collectées</u></b> :<ul><li>Le lead a un projet d'achat dans le neuf : <b>Oui</b></li><li>Mise en relation souhaitée avec un conseiller : <b>Non</b></li><li>Raisons du désintérêt : <b>Trop tot dans la recherche du lead</b></li></ul><br/><b><u>Conversation</u></b> :<ul><li><b>Pinpo</b> [07/08/2023 15:04]: <br>Bonjour, je suis Marion, Cheffe de projet chez ..... Vous avez donc un projet d'achat dans le neuf, c'est bien cela ?</li><li><b>TEST</b> [07/08/2023 15:17]: <br>Bonjour Marion,<br>Oui tout à fait !<br>Merci de l'avoir noté.</li><li><b>Pinpo</b> [07/08/2023 15:17]: <br>Notre responsable de projet serait ravi de vous accompagner dans votre projet. Je vous propose un rapide échange téléphonique avec lui pour vous renseigner. Cela vous conviendrait ?</li><li><b>TEST</b> [07/08/2023 15:18]: <br>Non merci Marion, pas encore, c'est trop tôt dans mes recherches !<br>Bonne journée et au plaisir </li><li><b>Pinpo</b> [07/08/2023 15:18]: <br>Merci pour votre retour, bien noté ! N'hésitez pas à revenir vers moi si ce type de projet vous intéresse à l'avenir. Excellente journée.</li></ul>"
        insightPinpo:
          details:
            - key: engaged
              title: Engagé
              value: true
            - key: opportunity
              title: Opportunité
              value: true
            - key: temperature
              title: Température
              value:
                key: warm
                display: Lead tiède
                emoji:
                  props:
                    name: sun
                    emojiText: ":white_sun_small_cloud:"
                    emojiHtml: &#127780;&#65039;
            - key: endedConversation
              title: Conversation terminée
              value: true
            - key: qualificationStatus
              title: Statut de la qualification
              value: Clôturée
          display: "<ul><li>Engagé : <b>Oui</b></li><li>Opportunité : <b>Oui</b></li><li>Température : <b>tiède</b></li><li>Conversation terminée : <b>Oui</b></li><li>Statut de la qualification : <b>Clôturée</b></li></ul>"
          insights:
            - key: warm
              display: Lead tiède
              emoji:
                props:
                  name: sun
                  emojiText: ":white_sun_small_cloud:"
                  emojiHtml: &#127780;&#65039;
        report: 
          qualificationForm:
            - formQuestion:
                id: project
                question: Le lead a un projet d'achat dans le neuf
                type: boolean
              formResponse:
                value: true
              note: 
              state: add
            - formQuestion:
                id: optinContact
                question: Mise en relation souhaitée avec un conseiller
                type: boolean
              formResponse:
                value: false
              note:
              state: add
            - formQuestion:
                id: whyNoInterest
                question: Raisons du désintérêt
                type: text
              formResponse: 
                value: Trop tot dans la recherche du lead
              note: 
              state: noChange
          qualificationFormDisplay: "<ul><li>Le lead a un projet d'achat dans le neuf : <b>Oui</b></li><li>Mise en relation souhaitée avec un conseiller : <b>Non</b></li><li>Raisons du désintérêt : <b>Trop tot dans la recherche du lead</b></li></ul>"
          notes: 
          conversationDisplay: "<ul><li><b>Pinpo</b> [07/08/2023 15:04]: <br>Bonjour, je suis Marion, Cheffe de projet chez ..... Vous avez donc un projet d'achat dans le neuf, c'est bien cela ?</li><li><b>TEST</b> [07/08/2023 15:17]: <br>Bonjour Marion,<br>Oui tout à fait !<br>Merci de l'avoir noté.</li><li><b>Pinpo</b> [07/08/2023 15:17]: <br>Notre responsable de projet serait ravi de vous accompagner dans votre projet. Je vous propose un rapide échange téléphonique avec lui pour vous renseigner. Cela vous conviendrait ?</li><li><b>TEST</b> [07/08/2023 15:18]: <br>Non merci Marion, pas encore, c'est trop tôt dans mes recherches !<br>Bonne journée et au plaisir </li><li><b>Pinpo</b> [07/08/2023 15:18]: <br>Merci pour votre retour, bien noté ! N'hésitez pas à revenir vers moi si ce type de projet vous intéresse à l'avenir. Excellente journée.</li></ul>"
          conversationUrl: https://pinpo.app.link/e/aaaaaaa
        lastActivity: 2023-08-07T13:19:20.717Z
        requestDate: 2023-08-07T13:04:11.098Z
        trigger: lead:change
        idScenario: idAssistant
    rgpd:
      value:
        id: Lyd2M3vMxV
        externalId: externalIdLead
        leadTypology: 
          key: rgpd
          value: STOP - Demande RGPD 
        resume: "Lead froid - STOP - Demande RGPD<br/><br/><b><u>Détail Insight PINPO</u></b> :<ul><li>Engagé : <b>Oui</b></li><li>Opportunité : <b>Non</b></li><li>Température : <b>froid</b></li><li>Motif de contre temps : <b>STOP - Demande RGPD</b></li><li>Conversation terminée : <b>Oui</b></li><li>Statut de la qualification : <b>Clôturée</b></li></ul><br/><b><u>Données collectées</u></b> :<ul><li>Le lead a un projet : <b>Non</b></li><li>Mise en relation souhaitée avec un conseiller : <b>Non</b></li></ul><br/><b><u>Conversation</u></b> :<ul><li><b>Pinpo</b> [07/08/2023 14:56]: <br>Bonjour, je suis Marion, Cheffe de projet chez ... J'espère que vous allez bien ! Merci d'avoir pris contact avec nous pour la résidence LES PALMIERS. Vous avez donc un projet d'achat dans le neuf, c'est bien cela ?</li><li><b>TEST test</b> [07/08/2023 14:57]: <br>Bonjour, je ne souhaite pas être contacté svp, serait il possible de suprimer mes données ? Merci. </li><li><b>Pinpo</b> [07/08/2023 14:58]: <br>Merci pour votre message. C’est bien noté, vous ne serez plus contacté et je fais remonter votre demande RGPD. Excellente journée</li></ul>"
        insightPinpo: 
          details:
            - key: engaged
              title: Engagé
              value: true
            - key: opportunity
              title: Opportunité
              value: false
            - key: temperature
              title: Température
              value: 
                key: cold
                display: Lead froid
                emoji: 
                  props: 
                    name: snowflake
                    emojiText: ":snowflake:"
                    emojiHtml: &#10052;&#65039;
            - key: delayReason
              title: Motif de contre temps
              value:
                  - id: 62b67d51-39ce-4dfe-a3d4-d83f57d726be
                    key: rgpd
                    display: STOP - Demande RGPD
                    emoji: 
                      props: 
                        name: warning
                        emojiText: ":warning:"
                        emojiHtml: &#9888;&#65039;
            - key: endedConversation
              title: Conversation terminée
              value: true
            - key: qualificationStatus
              title: Statut de la qualification
              value: Clôturée
          display: "<ul><li>Engagé : <b>Oui</b></li><li>Opportunité : <b>Non</b></li><li>Température : <b>froid</b></li><li>Motif de contre temps : <b>STOP - Demande RGPD</b></li><li>Conversation terminée : <b>Oui</b></li><li>Statut de la qualification : <b>Clôturée</b></li></ul>"
          insights:
            - key: cold
              display: Lead froid
              emoji: 
                props: 
                  name: snowflake
                  emojiText: ":snowflake:"
                  emojiHtml: &#10052;&#65039;
            - key: rgpd
              display: STOP - Demande RGPD
              emoji: 
                props: 
                  name: warning
                  emojiText: ":warning:"
                  emojiHtml: &#9888;&#65039; 
        report: 
          qualificationForm:
            - formQuestion: 
                id: project
                question: Le lead a un projet
                type: boolean
              formResponse: 
                value: false
              note: 
              state: add
            - formQuestion: 
                id: optinContact
                question: Mise en relation souhaitée avec un conseiller
                type: boolean
              formResponse: 
                value: false
              note: 
              state: add
          qualificationFormDisplay: "<ul><li>Le lead a un projet : <b>Non</b></li><li>Mise en relation souhaitée avec un conseiller : <b>Non</b></li></ul>"
          notes: 
          conversationDisplay: "<ul><li><b>Pinpo</b> [07/08/2023 14:56]: <br>Bonjour, je suis Marion, Cheffe de projet chez ... J'espère que vous allez bien ! Merci d'avoir pris contact avec nous pour la résidence LES PALMIERS. Vous avez donc un projet d'achat dans le neuf, c'est bien cela ?</li><li><b>TEST test</b> [07/08/2023 14:57]: <br>Bonjour, je ne souhaite pas être contacté svp, serait il possible de suprimer mes données ? Merci. </li><li><b>Pinpo</b> [07/08/2023 14:58]: <br>Merci pour votre message. C’est bien noté, vous ne serez plus contacté et je fais remonter votre demande RGPD. Excellente journée</li></ul>"
          conversationUrl: https://pinpo.app.link/e/pwjYOOtp4Bb
        lastActivity: 2023-08-07T12:58:32.652Z
        requestDate: 2023-08-07T12:56:13.689Z
        trigger: lead:change
        idScenario: idAssistant    
    landlinePhone:
      value:
        id: hJs5CwgLXE
        externalId: externalIdLead
        leadTypology: 
          key: landline-phone
          value: Numéro fixe
        resume: "Numéro fixe<br/><br/><b><u>Détail Insight PINPO</u></b> :<ul><li>Engagé : <b>Non</b></li><li>Raison de non engagement : <b>Numéro fixe</b></li><li>Opportunité : <b>A déterminer</b></li></ul>"
        insightPinpo:
          details:
            - key: engaged
              title: Engagé
              value: false
            - key: nonEngagementReason
              title: Raison de non engagement
              value: 
                key: landline-phone
                display: Numéro fixe
                emoji: 
                  props: 
                    name: warning
                    emojiText: ":warning:"
                    emojiHtml: &#9888;&#65039;
            - key: opportunity,
              title: Opportunité
          display: "<ul><li>Engagé : <b>Non</b></li><li>Raison de non engagement : <b>Numéro fixe</b></li><li>Opportunité : <b>A déterminer</b></li></ul>"
          insights:
            - key: landline-phone
              display: Numéro fixe
              emoji: 
                props: 
                  name: warning
                  emojiText: ":warning:"
                  emojiHtml: &#9888;&#65039;
        report: 
          qualificationForm: 
          qualificationFormDisplay: 
          conversationDisplay: 
        lastActivity: 2023-08-07T13:01:21.962Z
        requestDate: 2023-08-07T13:01:19.691Z
        trigger: lead:change
        idScenario: idAssistant

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: api-key
      in: header
security:
  - ApiKeyAuth: []
