openapi: 3.1.0
info:
  title: PINPO - OpenAPI 3.1
  description: Pinpo is an automated lead qualification platform
  contact:
    email: integration@pinpo.fr
  version: 1.0.11
externalDocs:
  description: Find out more about PINPO
  url: https://www.pinpo.com/
servers:
  - url: https://api.pinpo.com/v1
tags:
  - name: lead
    description: Everything about your leads
  - name: webhook
    description: Everything about subscribing to events
paths:
  /lead:
    post:
      tags:
        - lead
      summary: Add a new lead to qualify
      description: Add a new lead to qualify
      operationId: importLead
      requestBody:
        description: Import a new lead in PINPO
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lead'
        required: true
      responses:
        '200':
          description: Successful operation
        '405':
          description: Invalid input
    get:
      tags:
        - lead
      summary: get lead informations
      description: ''
      operationId: getLead
      parameters:
        - name: idLead
          in: query
          description: The PINPO lead id
          required: false
          schema:
            type: string
        - name: externalId
          in: query
          description: The External lead id
          required: false
          schema:
            type: string
        - name: leadPhone
          in: query
          description: The lead phone
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichedLead'
  /leads:
    get:
      tags:
        - lead
      summary: search leads
      description: ''
      operationId: searchLeads
      parameters:
        - name: minDate
          in: query
          description: "minimum date last activity to retrieve, by default date of now - 1 day"
          required: false
          #default: 1688203458
          schema:
            type: number
        - name: maxDate
          in: query
          description: "max date last activity to retrieve, by default now"
          required: false
          #default: 1688203458
          schema:
            type: number
        - name: temperature
          in: query
          description: "filtered temperature"
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Temperatures'
        # deal with form response filter
          
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items: 
                  $ref: '#/components/schemas/EnrichedLead'
  
  /subscribe:
    post:
      tags:
        - webhook
      summary: Subscribe to an event
      description: Subscribe to an event
      operationId: subscribe
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscribeData'
          application/xml:
            schema:
              $ref: '#/components/schemas/SubscribeData'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SubscribeData'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: string
                description: idEvent
                example: oihjbiyg98098
        '405':
          description: Invalid input
  /subscriptions:
    get:
      tags:
        - webhook
      summary: Get all subscription
      description: Retrieve all subcription linked to your account
      operationId: getSubscription
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items: 
                  $ref: '#/components/schemas/Subscription'
      
  /unsubscribe/{idSubcription}:
    post:
      tags:
        - webhook
      summary: Unsubscribe to an event
      description: Unsubscribe to an event
      operationId: unsubscribe
      parameters:
        - name: idSubcription
          in: path
          description: The idSubcription ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
        '405':
          description: Invalid input
webhooks:
    EnrichedLead:
      post:
        x-internal: true
        requestBody:
          description: Information about lead qualification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichedLead'
        responses:
          "200":
            description: Return a 200 status to indicate that the data was received successfully        
components:
  schemas:
    EnrichedLead:
      required:
        - id
        - insight
        - report
      type: object
      properties:
        id:
          type: string
          example: 10oijoijpoj
        externalId:
          type: string 
          example: 'hhhhuj1bh4'
        insight:
          $ref: '#/components/schemas/PossiblesInsight'
        report:
          $ref: '#/components/schemas/Report'
        lastActivity:
          type: number
          example: 1546297200
        trigger:
          description: used only on Webhooks
          $ref: '#/components/schemas/Event'
        enrichedLeadDetails:
          $ref: '#/components/schemas/EnrichedLeadDetails'
    PossiblesInsight:
      description: Possibles PINPOs Insight
      allOf:
        - $ref: '#/components/schemas/Temperatures'
        - $ref: '#/components/schemas/NonEngagementReason'
        - $ref: '#/components/schemas/NonQualificationReason'
    Lead:
      required:
        - contact
      type: object
      properties:
        id:
          type: string
          example: 10oijoijpoj
        contact:
          $ref: '#/components/schemas/Contact'
        providerName:
          type: string
          example: Facebook leads
        scenarioSelection:
          type: string
          example: leads_entrants
        product:
          $ref: '#/components/schemas/Product'
        salesMan:
          $ref: '#/components/schemas/SalesMan'
        scriptData:
          type: array
          items:
            $ref: '#/components/schemas/CustomData'
        statsData:
          type: array
          items:
            $ref: '#/components/schemas/CustomData'
    Contact:
      type: object
      required:
        - phone
      properties:
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        phone:
          type: string
          example: 33606060606
        mail:
          type: string
          example: john.doe@pinpo.fr
        externalId:
          type: string
          example: jiu7897987GUYGhh
    SalesMan:
      type: object
      properties:
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        phone:
          type: string
          example: 33606060606
        mail:
          type: string
          example: john.doe@pinpo.fr
        externalId:
          type: string
          example: jiu7897987GUYGhh
        iCalUrl:
           type: string
           example: https://joiuezhfiuhIcal.fr
    Product:
      type: object
      properties:
        name:
          type: string
          example: Programme des oliviers
        category:
          type: string
          example: new
        externalId:
          type: string
          example: huih89hhgh
    CustomData:
      type: object
      required:
        - name
        - value
      properties:
        name:
          type: string
          example: departement
        value:
          type: string
          example: Ardèche
    Report:
      type: object
      properties: 
          qualificationForm:
            type: array
            items:
              $ref: '#/components/schemas/QualificationItem'
          qualificationFormDisplay:
            type: string
            example: "Interest in a lead engagement and qualification solution : Oui (Note pour la question: Interest in a lead engagement and qualification solution)\nInterest for a meeting : Oui (Note pour la question: Interest for a meeting)\nMeeting Typology : Phone (Note pour la question: Meeting Typology)\nProject Timeline : Short-term project (Note pour la question: Project Timeline)\nMore details about leads project : Réponse à la question: More details about leads project (Note pour la question: More details about leads project)\n\nNotes générales : Notes générales"
          notes:
            type: string
            example: General notes
          transcriptUrl:
            type: string
            example: https://pinpo.app.link/dLK242D
          conversationDisplay:
            type: string
            example: "- [Assistant 22/03 15:22] Message d'engagement\n- [Prospect 22/03 15:34] Réponse du lead\n- [Assistant 22/03 15:39] Message de cloture"
          conversationUrl:
            type: string
            example: 'https://pinpo.app.link/dlkihouhiguyvg'
    QualificationItem:
      type: object 
      required:
        - id
        - formQuestion
        - formResponse
      properties:
        id:
          type: string
          example: ugoiy76765443Fjhg
        formQuestion:
          $ref: '#/components/schemas/FormQuestion'
        formResponse:
          $ref: '#/components/schemas/FormResponse'
        note:
          type: string
          example: Question note
        display:
          type: string
          example: 'Interest in a lead engagement and qualification solution : Oui (Question note)'
        state:
          type: string
          enum:
            - add
            - replace
            - noChange
    FormQuestion:
      type: object
      required:
        - id
        - question
        - type
      properties:
        id:
          type: string
          example: product_interest
        question:
          type: string
          example: Interest in a lead engagement and qualification solution
        type:
          type: string
          enum:
            - boolean
            - text
            - number
            - choice
            - date
            - multiChoice
    FormResponse:
      type: object
      required:
        - id
        - type
      properties:
        id:
          type: string
          example: oiubiyf7897fhgjddas545
        value:
          oneOf:
            - boolean:
              type: boolean
              example: true
            - textOrChoice:
              type: string
              example: Textual response
            - date:
              type: number
              example: 1553264538.371
            - multiChoice:
              type: array
              items:
                type: string
          discriminator:
            propertyName: type
    ConversationMessage:
      type: object
      properties:
        sender:
          type: string
          enum:
            - lead
            - operator
        dateTime:
          type: number
          example: 1553264538.371
        text:
          type: string
          example: 
    EnrichedLeadDetails:
      type: object 
      properties:
        contact:
          $ref: '#/components/schemas/Contact'
        providerName:
          type: string
          example: Facebook leads
        scenarioSelection:
          type: string
          example: leads_entrants
        origin_body:
          $ref: '#/components/schemas/Lead'
        originProvider:
          type: string
          example: Facebook leads
        requestDate:
          type: number
          example: 1546297200
        requestDateDisplay:
          type: string
          example: "01/01/2019 00:00" #NECESSARY ??
        lastActivityDisplay:
          type: string
          example: "01/01/2019 00:00" #NECESSARY ??
        conversation:
          type: array
          items:
             $ref: '#/components/schemas/ConversationMessage'
        stringified_conversation: #WHATS THE DIFFERENCE with conversationDisplay ?
          type: string
          example: "- [Assistant 22/03 15:22] Message d'engagement\n- [Prospect 22/03 15:34] Réponse du lead\n- [Assistant 22/03 15:39] Message de cloture"
        product:
          $ref: '#/components/schemas/Product'
        salesMan:
          $ref: '#/components/schemas/SalesMan'
    SubscribeData:
      type: object
      required:
        - url
      properties:
        event:
          $ref: '#/components/schemas/Event'
          description: event you want subscribe, alls by default
        idScenario:
          description: add a scenario id if you don't want to subscribe to alls of yours scenarios
          type: string
          example: leads_entrants
        url:
          description: url in your SI to notify
          type: string
          example: https://clientURL/enrichedLead
    Event:
      type: string
      enum:
        - lead:change
    Insight:
      type: object
      description: Insight definition
      properties:
        key:
          type: string
          example: 'hot'
        display:
          type: string
          example: 'Lead chaud'
        emojiText:
          type: string
          example: ':fire:'
        emojiHtml:
          type: string
          example: '&#128293;'
    Temperatures:
      description: Possible temperatures
      allOf:
        - $ref: '#/components/schemas/Insight'
        - enum:
            - key: 'hot'
              display: 'Lead Chaud'
              emojiText: ':fire:'
              emojiHtml: '&#128293;'
            - key: 'warm'
              display: 'Lead Tiède'
              emojiText: ':white_sun_small_cloud:'
              emojiHtml: '&#127780;&#65039;'
            - key: 'cold'
              display: 'Lead Froid'
              emojiText: ':snowflake:'
              emojiHtml: '&#10052;&#65039;'
    NonEngagementReason:
      description: Possibles non enagement reason
      allOf:
        - $ref: '#/components/schemas/Insight'
        - enum:
            - key: 'landline-phone'
              display: 'Numéro fixe'
              emojiText: ':x:'
              emojiHtml: '&#10060;'
            - key: 'foreign-phone'
              display: 'Numéro étranger'
              emojiText: ':x:'
              emojiHtml: '&#10060;'
            - key: 'invalid-phone'
              display: 'Numéro invalide'
              emojiText: ':x:'
              emojiHtml: '&#10060;'
            - key: 'already-engaged'
              display: 'Déjà engagé sur ce scénario'
              emojiText: ':x:'
              emojiHtml: '&#10060;'
            - key: 'not-pinpo-targeting'
              display: 'Hors ciblage PINPO'
              emojiText: ':x:'
              emojiHtml: '&#10060;'
            - key: 'reach-limit'
              display: 'Plafond atteint'
              emojiText: ':x:'
              emojiHtml: '&#10060;'
    NonQualificationReason:
      description: Possibles reason lead is not  qualified
      allOf:
        - $ref: '#/components/schemas/Insight'
        - enum:
            - key: 'not-responding'
              display: 'Numéro fixe'
              emojiText: ':question:'
              emojiHtml: '&#10067;'
            - key: 'wrong-phone'
              display: 'Faux destinataire'
              emojiText: ':warning:'
              emojiHtml: '&#9888;&#65039;'
            - key: 'opt-out-sms'
              display: 'STOP - Optout'
              emojiText: ':warning:'
              emojiHtml: '&#9888;&#65039;'
            - key: 'rgpd'
              display: 'STOP - Demande RGPD'
              emojiText: ':warning:'
              emojiHtml: '&#9888;&#65039;'
            - key: 'cold'
              display: 'Lead Froid'
              emojiText: ':snowflake:'
              emojiHtml: '&#10052;&#65039;'
    Subscription:
      type: object
      required:
        - event
        - idScenario
        - url
      properties:
        idSubscription:
          type: string
          example: iujoij98hgghv
        event: 
          $ref: '#/components/schemas/Event'
        idScenario:
          type: string
          example: lead_entrants
        url:
          type: string
          example: https://clientURL/enrichedLead
        createdAt:
          type: number
          example: 1546297200
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: api_key
      in: header
security:
  - ApiKeyAuth: []